body,
html{
	height: 100%;
	width: 100%;
	background: white;
}

.navbar{
	padding-top: 5px;
	padding-bottom: 5px;
	background: white;
	border-radius: 0px;
}
.content{
	padding-top: 10px;
	background: white;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}
.navbar-text{
 	padding-right: 15px;
 }
 .navbar-brand{
 	padding-left: 110px;
 }
